/* Typography -----------------------------------------------------*/

/* Unbold for logo */
.cio-unbold {
  font-family: 'Century Gothic';
}

/* top cover ------------------------------------------------------*/
#cio-cover { 
  background: url(../img/cover.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  height: 100%;
  width: 100%;
  
}

@media only screen and (max-width: 640px) {
  #cio-cover {
    padding-bottom: 90px;
    height: -moz-calc(100% - 45px);
    height: -webkit-calc(100% - 45px);
    height: calc(100% - 45px);
  }
}

#cio-cover h1 {
  margin-top: 0;
  color: white;
  margin-bottom: 0;
}

#cio-cover h6 {
  margin-top: 0;
}

#cio-cover .cio-button-outline {
  margin-top: 10px;
}


/* Layout --------------------------------------------------------*/
@media (min-width: 640px) {
  .cio-content {
    margin-top: 45px;
  }
}

/* Vertical center text */
.cio-vc-container {
  display: table;
}

.cio-vc {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  width: 100%;
}

/* Objects -------------------------------------------------------*/

/* Button for image overlay */
.cio-button-outline {
  background-color: transparent;
  outline: 2px solid white;
}

.cio-button-outline:hover {
  background-color: darkorange;
  outline: none;
}

.cio-button-outline:focus {
  background-color: darkorange;
  outline: none;
}

/* Link box */
.cio-box {
  display: block;
}

.cio-box p {
  margin-top: 5px;
}

/* Social network icon */
.cio-social-icon {
  width: 75px;
}
 