/* fonts ---------------------------------------------------------*/
@font-face {
	font-family: "Century Gothic";
	src: url("../font/century_gothic.ttf");
}

@font-face {
	font-family: "Century Gothic Bold";
	src: url("../font/century_gothic_bold.ttf");
}

@font-face {
  font-family: "Century Gothic Italic";
  src: url("../font/century_gothic_italic.ttf");
}

h1 {
  font-family: 'Century Gothic Bold';
  font-size: 3rem;
}

h2 {
  font-family: 'Century Gothic';
}

h5 {
  font-family: 'Century Gothic';
}

h6 {
  font-family: 'Century Gothic';
  color: white;
}

p {
  font-family: 'Century Gothic';
}

a {
  color: darkorange;
  font-family: "Century Gothic";
}

a:hover {
  color: #d66a00;
}

ul li a {
  font-family: "Century Gothic" !important;
}

em {
  font-family: "Century Gothic Italic";
}

.button {
  font-family: 'Century Gothic';
}

/* Large menu items */
.top-bar-section .right li a {
  font-family: 'Century Gothic';
}

/* Small menu items */
.off-canvas-list li a, {
  font-family: 'Century Gothic';
}

/* Accordion */
.accordion li a {
  color: darkorange !important;
}

.accordion li a:hover {
  color: #d66a00 !important;
}

/* Nav ---------------------------------------------------------*/
body.f-topbar-fixed {
  padding-top: 0px;
}

.top-bar-section ul li.active > a {
      background-color: darkorange !important;
}

.top-bar-section ul li.active > a:hover {
      background-color: #d66a00 !important;
}
  
/* ------------------------------------------------------------ */
  
/* for full page cover */
.off-canvas-wrap {
  height: 100%;
  padding-top: 0px;
}

.inner-wrap {
  height: 100%;
}

.off-canvas-wrap {
  overflow: scroll;
}

/* Accordion styling ------------------------------------------ */
.accordion .accordion-navigation > a {
  padding-left: 0px;
  padding-right: 0px;
  background: transparent;
  border-bottom: 2px solid #6f6f6f;
  font-size: 1.2em;
}

.accordion .accordion-navigation > a:hover {
  background: transparent;
  border-bottom: 2px solid black;
}

.accordion .accordion-navigation > a:focus {
  background: transparent;
  border-bottom: 2px solid black;
}