/* fonts ---------------------------------------------------------*/
@font-face {
	font-family: "Century Gothic";
	src: url("../font/century_gothic.ttf");
}

@font-face {
	font-family: "Century Gothic Bold";
	src: url("../font/century_gothic_bold.ttf");
}

h1 {
  font-family: 'Century Gothic Bold';
  font-size: 3rem;
}

/* Large menu items */
.top-bar-section .right li a {
  font-family: 'Century Gothic';
}

/* Small menu items */
.off-canvas-list li a, {
  font-family: 'Century Gothic';
}


.cio-unbold {
  font-family: 'Century Gothic';
}
  
/* ------------------------------------------------------------ */
  
/* for full page cover */
.off-canvas-wrap {
  height: 100%
}

.inner-wrap {
  height: 100%;
}