/* typography */
@font-face {
  font-family: "AvenirNext Medium";
  src: url("../font/AvenirNext-Medium.ttf");
}

@font-face {
  font-family: "AvenirNext Regular";
  src: url("../font/AvenirNext-Regular.ttf");
}

html, body {
  font-family: "AvenirNext Regular";
}

h1 {
  margin: 0;
  font-size: 18px;
}

/* nav */
nav {
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

nav .row {
  height: 100%;
}

