{% assign about_active = "" %}
{% assign articles_active = "" %}
{% assign portfolio_active = "" %}
{% if page.section == "about" %}
{% assign about_active = "cp-nav-active" %}
{% elsif page.section == "articles" %}
{% assign articles_active = "cp-nav-active" %}
{% else %}
{% assign portfolio_active = "cp-nav-active" %}
{% endif %}

<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="cp-color-container">
        <div class="cp-color-block">
          <div class="cp-color" style="background-color: #63774C;"></div>
          <div class="cp-color" style="background-color: #567FAE;"></div>
        </div>
        <a class="navbar-brand" href="/">
          Camden Phalen
        </a>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/about" class="{{ about_active }}">About</a></li>
        <li><a href="#" class="{{ articles_active }}">Articles</a></li>
        <li><a href="/portfolio" class="{{ portfolio_active }}">Portfolio</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>