---
layout: default
title: Camden Phalen | About
stylesheet: about
---

{% include nav.html %}

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>/ About</h2>
      <p class="cp-large-text">
        I am a fourth year computer science and interactive media major at Northeastern University interested in web development, interaction design, data visualization, and interaction research. 
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h3>/ About / Education</h3>
    </div>
  </div>

  <div class="row cp-education">
  {% for school in site.data.education %}
    <div class="col-sm-6">
      <img src="{{ school.image }}" class="img-responsive">
      <div class="cp-color-container">
        <div class="cp-color-block">
          <div class="cp-color" style="background-color: {{ school.color1 }};"></div>
          <div class="cp-color" style="background-color: {{ school.color2 }};"></div>
          <div class="cp-color" style="background-color: {{ school.color3 }};"></div>
          <div class="cp-color" style="background-color: {{ school.color4 }};"></div>
        </div>
        <div class="cp-education-content">
          <h4>{{ school.name }}</h4>
          <p>{{ school.location }} / {{ school.years }}</p>
          <p>{{ school.program }}</p>
        </div>
      </div>
    </div>
  {% endfor %}

</div>