---
---

/* import bootstrap */
@charset "utf-8";
$icon-font-path: "/bower_components/bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap";
@import "variables";

/* import ttf fonts */
@font-face {
  font-family: "Avenir Book";
  src: url('../fonts/Avenir-Book.ttf');
}

@font-face {
  font-family: "Avenir Light";
  src: url('../fonts/Avenir-Light.ttf');
}

@font-face {
  font-family: "Avenir Heavy";
  src: url('../fonts/Avenir-Heavy.ttf');
}

/* typography */
h1 {
  font-family: "Avenir Light";
  color: $dark-gray;
  font-size: 48px;
  margin-bottom: 0px;
}

p {
  font-family: 'Cormorant Garamond', serif;
  font-size: 14px;
  color: $light-gray;
}

p.cp-large-text {
  font-size: 20px;
}

p.cp-xl-text {
  font-size: 30px;
}

/* layout helpers */
.cp-vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  display: flex;
  align-items: center;
}

.cp-vc-normalize {
  display: block;
  width: 100%;
}

/* color blocks */
.cp-color-block {

  width: 10px;
  height: 100px;
  .cp-color {
    width: 100%;
    height: 25%;
    float: left;
  }
}

@media #{$xs-screen-only} {
  .cp-color-block-responsive {
    width: 100%;
    height: 10px;

    .cp-color {
      width: 25%;
      height: 100%;
    }
  }
}
