---
---

/* import bootstrap */
@charset "utf-8";
$icon-font-path: "/bower_components/bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap";

/* import ttf fonts */
@font-face {
  font-family: "Avenir Book";
  src: url('../fonts/Avenir-Book.ttf');
}

@font-face {
  font-family: "Avenir Light";
  src: url('../fonts/Avenir-Light.ttf');
}

@font-face {
  font-family: "Avenir Heavy";
  src: url('../fonts/Avenir-Heavy.ttf');
}

/* typography */
h1 {
  font-family: "Avenir Light";
  color: #3D3D3D;
  font-size: 48px;
  margin-bottom: 0px;
}

p {
  font-family: 'Cormorant Garamond', serif;
  font-size: 14px;
  color: #515151;
}

p.cp-large-text {
  font-size: 20px;
}