---
---

/* import bootstrap */
@charset "utf-8";
$icon-font-path: "/bower_components/bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap";
@import "variables";

/* import ttf fonts */
@font-face {
  font-family: "Avenir Book";
  src: url('../fonts/Avenir-Book.ttf');
}

@font-face {
  font-family: "Avenir Light";
  src: url('../fonts/Avenir-Light.ttf');
}

@font-face {
  font-family: "Avenir Heavy";
  src: url('../fonts/Avenir-Heavy.ttf');
}

/* typography */
h1 {
  font-family: "Avenir Light";
  color: $dark-gray;
  font-size: 48px;
  margin-bottom: 0px;
}

h2 {
  font-family: "Avenir Heavy";
  color: $dark-gray;
  font-size: 36px;
  margin-top: 0;
}

h3 {
  font-family: "Avenir Heavy";
  color: $dark-gray;
  font-size: 30px;
}

h4 {
  font-family: "Avenir Light";
  color: $dark-gray;
  font-size: 30px;
}

p {
  font-family: 'Cormorant Garamond', serif;
  font-size: 18px;
  font-weight: 300;
  color: $light-gray;
}

a {
  font-family: 'Cormorant Garamond', serif;
  font-size: 18px;
  font-weight: 300;
  color: $light-gray;

  &:hover {
    color: $light-gray;
    text-decoration: underline;
  }

  &:focus {
    color: $light-gray;
    text-decoration: underline;
  }
}

a.cp-underline {
  text-decoration: underline;
  transition: color .5s;

  &:hover {
    color: $black;
  }
}

.cp-large-text {
  font-size: 22px;
}

.cp-xl-text {
  font-size: 30px;
}

.navbar-default a.navbar-brand {
  font-family: "Avenir Book";
  font-size: 24px;
  color: $dark-gray;

  &:hover {
    color: $dark-gray;
  }

  &:focus {
    color: $dark-gray;
  }
}

.navbar-default ul.nav > li > a {
  font-family: "Cormorant Garamond";
  font-weight: 300;
  font-size: 24px;
  color: $dark-gray;

  &:hover {
    color: $light-gray;
  }

  &:focus {
    color: $light-gray;
  }
}

/* layout helpers */
.cp-vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  display: flex;
  align-items: center;
}

.cp-vc-normalize {
  display: block;
  width: 100%;
}

/* navbar */
nav.navbar.navbar-default {
  background-color: transparent;
  border: none;

  .container { 
      .navbar-header {

      button.navbar-toggle {
        border: none;

        &:hover {
          background-color: transparent;
        }

        &:focus {
          background-color: transparent
        }

        .icon-bar {
          background-color: $dark-gray;
        }
      }

      .cp-color-block {
        margin-left: 15px;
        padding-top: 10px;
        padding-bottom: 10px;

        @media #{$small-screen} {
          margin-left: 0px;
          margin-right: 10px;
        }
      }
    }

    .navbar-collapse {
      ul {

        &:hover li a.cp-nav-active {
          border-color: transparent;
        } 
        li {
        
          a {
            border-bottom: 2px solid transparent;
            transition: border-color .5s, color .5s;
            @media #{$small-screen} {
              &:hover {
                border-color: $dark-gray;
              }
            }

            &.cp-nav-active {
              border-color: $dark-gray;

              &:hover {
                border-color: $dark-gray;
              }
            }
          }
        }
      }
    }
  }
}

/* color blocks */
.cp-color-container {
  display: flex;

  .cp-color-block {
    width: 14px;
    align-items: stretch;
    flex-direction: column;
    display: flex;
    .cp-color {
      flex-grow: 1;
      float: left;
    }
  }


  @media #{$xs-screen-only} {
    .cp-color-block-responsive {
      width: 100%;
      height: 12px;
      display: block;

      .cp-color {
        width: 25%;
        display: block;
        height: 100%;
      }
    }
  }
}
