---
---
.cp-color-block {
  margin-right: 10px;
  padding-top: 10px;
}

.col-sm-6 {
  margin-bottom: 60px;
}

.row {
  .cp-color-container {
    margin-top: 15px;
  }

  h4 {
    margin-bottom: 5px;
  }
}