---
---

@import "variables";

.cp-color-block {
  margin-right: 10px;
  padding-top: 10px;
}

.col-sm-6 {
  margin-bottom: 50px;
  height: auto;
  pointer-events: none;
  cursor: default;

  &:hover {
    text-decoration: none;
  }
  @media #{$small-screen} {
    height: 420px;
  }

  @media #{$med-screen} {
    height: 470px;
    margin-bottom: 30px;
    pointer-events: all;
    cursor: pointer;
  }

  @media #{$large-screen} {
    height: 430px;
  }

  @media #{$med-screen} {
    padding-top: 15px;
    padding-bottom: 15px;
    &:hover {
      background-color: #EAEAEA;
    }
  }
}

h2 {
  margin-bottom: 40px;

  @media #{$med-screen} {
    margin-bottom: 30px;
  }

  &.cp-project-title {
    margin-bottom: 10px;
  }
}

.row {

  .cp-color-container {
    margin-top: 15px;
  }

  h4 {
    margin-bottom: 5px;
  }
}

.cp-learn-more {

  pointer-events: all;
  cursor: pointer;

  @media #{$med-screen} {
    display: none;
  }
}
.cp-project-images {
  h3 {
    margin-bottom: 10px;
  }

  .col-xs-6 {
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: transparent;
    border: none;
    &:focus { outline: none }
    &:active { outline: none }
    &:hover {
      background-color: #EAEAEA;
      cursor: pointer;
    }
  }

  .cp-project-image {
    width: 100%;
    padding-bottom: 100%;
    background-repeat: no-repeat;

    &.cp-border {
      border: 2px solid #EAEAEA;
    }

    &.cp-vertical {
      background-size: 100% auto;
    }

    &.cp-horizontal {
      background-size: auto 100%;
    }
    // background-position: center; 
  }
}

.cp-project-background {
  .cp-color-block {
    padding-top: 5px;
    padding-bottom: 10px;

    @media #{$xs-screen-only} {
      display: none;
    }
  }
}

.cp-project-technologies {
  .cp-color-block {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  p {
    margin-bottom: 0;
  }
}

.cp-project-links {
  .cp-color-block {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.modal {
  .modal-content {
    border-radius: 0;

    .modal-header {
      border: none;
      .close {
        font-size: 28px;
      }    
    }

    .modal-body {
      padding-top: 0;

      img {
        margin: 0 auto;
      }
    }
  }
}
.modal-sm {
  @media #{$small-screen} {
    width: 360px;
  }
}

.modal-md {
  @media #{$small-screen} {
    width: 60%;
  }
}

.modal-lg {
  @media #{$small-screen} {
    width: 80%;
  }
}
