---
---

@import "variables";

.cp-color-block {
  margin-right: 10px;
  padding-top: 10px;
}

.col-sm-6 {
  margin-bottom: 60px;
  height: auto;
  @media #{$small-screen} {
    height: 400px;
  }

  @media #{$med-screen} {
    height: 450px;
  }

  @media #{$med-screen} {
    height: 400px;
  }
}

h2 {
  margin-bottom: 40px;
}

.row {
  .cp-color-container {
    margin-top: 15px;
  }

  h4 {
    margin-bottom: 5px;
  }
}