---
layout: default
title: Camden Phalen | Portfolio
section: portfolio
---

{% include nav.html %}

<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <h2>Portfolio</h2>
    </div>
  </div>

  <div class="row">
    {% for project_hash in site.data.projects %}
    {% assign project = project_hash[1] %}
    <div class="col-sm-6 col-lg-4">
      <img src="{{ project.preview_photo }}" class="img-responsive">
      <div class="cp-color-container">
        <div class="cp-color-block">
          <div class="cp-color" style="background-color: {{ project.color1 }};"></div>
          <div class="cp-color" style="background-color: {{ project.color2 }};"></div>
          <div class="cp-color" style="background-color: {{ project.color3 }};"></div>
          <div class="cp-color" style="background-color: {{ project.color4 }};"></div>
        </div>
        <div class="">
          <h4>{{ project.name }} <span class="cp-gray">- {{ project.category }}</span></h4>
          <p>{{ project.preview_text }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

</div>