.about-grid-parent {
  width: 100%;
}

.about-five {
  width: calc(41.66% - 70px);
  float: left;

  @media only screen and (max-width: 768px) {
    width: calc(100% - 20px);
  }

  @media #{$small} {
    width: 100%;
  }
}

.about-seven {
  width: 58.33%;
  float: left;
  padding-left: 30px;

  @media #{$small} {
    width: 100%;
    padding-left: 0;
  }

  ul {
    padding: 0;
    margin-top: 0;
  }

  li {
    list-style-type: none;
    margin-bottom: 0;
  }
}

.about-image {
  @media #{$small} {
    margin-bottom: 30px;
  }
}
