.divider {
  height: 0px;
  margin-top: 50px;
  width: 100%;
  border-bottom: 1.5px solid $main-gray;
}

.about-image-section {
  padding-right: 50px;
  padding-top: 20px;
  padding-left: 20px;

  @media only screen and (max-width: 768px) {
    padding-top: 0;
    padding-right: 20px;
    padding-left: 0;
    margin-bottom: 20px;
    margin-top: 30px;
  }
}

.about-grid-parent {
  width: 100%;
}
.about-five {
  width: calc(41.66% - 70px);
  float: left;

  @media only screen and (max-width: 768px) {
    width: calc(100% - 20px);
  }
}

.about-seven {
  width: 58.33%;
  float: left;

  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

ul {
  padding: 0;
  margin-top: 0;
}

li {
  list-style-type: none;
}
