
.address-bar {
  @media #{$small} {
    min-height: 38px;
  }
}
.address-bar-container {
  position: fixed;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
}

.address-bar {
  padding-top: 0px;
}

.address-bar-link {
  text-decoration: none;
  transition: color .2s;
  color: $main-gray;
}

.address-bar-background-container {
  position: absolute;
  height: 59px;
  width: 100%;
  z-index: -1;

  > div {
    position: relative;
    width: 100%;
    height: 100%;
  }

  @media #{$small} {
    height: 38px;
  }
}

.address-bar-background {
  position: absolute;
}
