@import 'variables';
@import 'fonts';
@import 'typography';
@import 'layout';
@import 'addressBar';
@import 'project';
@import 'about';
@import 'content';

body {
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  font-family: 'Input';
  color: $main-gray;
}
