@font-face {
  font-family: 'Input';
  src: url("../fonts/InputMono-Regular.ttf"); }

@font-face {
  font-family: 'Input Light';
  src: url("../fonts/InputMono-Light.ttf"); }

@font-face {
  font-family: 'Input Bold';
  src: url("../fonts/InputMono-Bold.ttf"); }

@font-face {
  font-family: 'Crimson';
  src: url("../fonts/CrimsonText-Bold.ttf"); }

h1 {
  font-family: 'Crimson';
  font-size: 55px;
  line-height: 65px;
  margin-bottom: 70px; }
  @media (max-width: 768px) {
    h1 {
      font-size: 40px;
      line-height: 47px;
      margin-bottom: 45px; } }
  @media (max-width: 480px) {
    h1 {
      font-size: 40px;
      line-height: 47px;
      margin-bottom: 60px; } }

h2 {
  font-size: 24px;
  font-family: 'Input';
  margin-top: 15px;
  margin-bottom: 15px; }
  @media only screen and (max-width: 768px) {
    h2 {
      font-size: 16px;
      line-height: 16px;
      margin-top: 12px;
      margin-bottom: 10px; } }

h3 {
  margin-top: 0;
  margin-bottom: 30px;
  font-family: 'Input Bold';
  font-size: 30px; }
  @media only screen and (max-width: 768px) {
    h3 {
      font-size: 24px;
      margin-bottom: 16px; } }

h3.about-header {
  margin-bottom: 10px; }
  @media only screen and (max-width: 768px) {
    h3.about-header {
      margin-bottom: 0; } }

h4 {
  font-family: 'Input';
  text-transform: uppercase; }

h4.find-me-on {
  margin-bottom: 10px;
  margin-top: 30px; }

h5 {
  font-size: 20px;
  font-family: 'Input Bold';
  margin-top: 0;
  margin-bottom: 5px; }

h6 {
  font-size: 14px;
  font-family: 'Input Bold';
  margin-top: 0;
  margin-bottom: 5px; }
  @media (max-width: 768px) {
    h6 {
      font-size: 16px; } }

p {
  font-family: 'Input Light';
  font-size: 16px;
  line-height: 20px; }

p.project-data-text, p.project-data-link {
  font-size: 16px;
  margin: 0;
  margin-bottom: 2px; }
  @media only screen and (max-width: 768px) {
    p.project-data-text, p.project-data-link {
      font-size: 16px; } }

p.project-preview-description {
  font-size: 20px;
  line-height: 30px;
  margin-top: 2px;
  margin-bottom: 20px; }
  @media only screen and (max-width: 768px) {
    p.project-preview-description {
      font-size: 16px;
      line-height: 24px; } }

a {
  font-family: 'Input Light';
  text-decoration: underline; }

a.project-preview {
  text-decoration: none; }

.phalen-io {
  width: 100%;
  overflow-x: hidden; }

.container {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  padding-top: 55px; }
  @media (max-width: 900px) {
    .container {
      width: 90%; } }
  @media (max-width: 768px) {
    .container {
      padding-top: 50px; } }

img {
  width: 100%;
  height: auto; }

.image-container {
  width: 100%;
  overflow: hidden; }

.inline-img-outer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr; }

.inline-img-inner {
  grid-column: span 1;
  grid-row: span 1;
  height: 100%; }

.grid-parent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px; }
  @media only screen and (max-width: 768px) {
    .grid-parent {
      grid-template-columns: 1fr; } }

.four {
  grid-column: span 1;
  grid-row: span 1; }

.four {
  grid-column: span 4;
  grid-row: span 1; }

.five {
  grid-column: span 5;
  grid-row: span 1; }

.six {
  grid-column: span 6;
  grid-row: span 1; }

.seven {
  grid-column: span 7;
  grid-row: span 1; }

.eight {
  grid-column: span 8;
  grid-row: span 1; }

.no-gap {
  grid-column-gap: 0; }

.background {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%; }

.small-only {
  display: none; }
  @media (max-width: 768px) {
    .small-only {
      display: initial; } }

@media (max-width: 768px) {
  .large-only {
    display: none; } }

@media (max-width: 768px) {
  .address-bar {
    min-height: 38px; } }

.address-bar-container {
  position: fixed;
  z-index: 1;
  width: 100%;
  margin: 0 auto; }

.address-bar {
  padding-top: 0px; }

.address-bar-link {
  text-decoration: none;
  transition: color .2s;
  color: #272727; }

.address-bar-background-container {
  position: absolute;
  height: 59px;
  width: 100%;
  z-index: -1; }
  .address-bar-background-container > div {
    position: relative;
    width: 100%;
    height: 100%; }
  @media (max-width: 768px) {
    .address-bar-background-container {
      height: 38px; } }

.address-bar-background {
  position: absolute; }

.project-content {
  border-left: 1.5px solid #272727;
  padding-left: 25px;
  transition: border-width .2s; }
  @media (max-width: 768px) {
    .project-content {
      border-top: 1.5px solid #272727;
      border-left: none;
      padding-left: 0; } }

@media (max-width: 768px) {
  .project-data {
    padding-bottom: 50px; } }

.project-data-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 85px; }
  @media only screen and (max-width: 768px) {
    .project-data-sticky {
      position: static; } }

.project-data-section {
  margin-bottom: 30px; }

.project-data-link {
  display: block; }

.project > div {
  height: 100%; }

@media (max-width: 768px) {
  .project-content {
    padding-top: 20px; } }

.project-previews {
  margin-top: 20px; }

.project-preview {
  margin-bottom: 80px;
  transition: padding-bottom .2s;
  overflow: visible; }
  .project-preview:hover {
    padding-bottom: 10px; }
  .project-preview:hover .project-preview-color {
    right: 0px;
    top: 0px; }
  .project-preview:hover .project-preview-color.reverse {
    left: 0px;
    top: 0px; }
  .project-preview:hover .project-preview-image-section {
    padding-right: 10px;
    padding-left: 10px;
    margin-top: -10px; }
  .project-preview:hover .project-preview-description {
    margin-bottom: 10px; }
  @media (max-width: 768px) {
    .project-preview:hover {
      padding-bottom: 20px; }
    .project-preview:hover .project-preview-color {
      left: -100%; }
    .project-preview:hover .project-preview-color.reverse {
      left: 100%; }
    .project-preview:hover .project-preview-image-section {
      padding-right: 0;
      padding-left: 0;
      margin-top: 0; }
    .project-preview:hover .project-preview-description {
      margin-bottom: 0; } }

@media (max-width: 768px) {
  .project-preview-info-section {
    order: 2; } }

.project-preview-text {
  border-bottom: 1.5px solid #272727; }
  .project-preview-text > .reverse-margin {
    margin-left: 20px; }
    @media (max-width: 768px) {
      .project-preview-text > .reverse-margin {
        margin-left: 0; } }
  @media (max-width: 768px) {
    .project-preview-text {
      border: none !important; } }

.project-preview-description {
  transition: margin-bottom .2s; }

.project-preview-image-section {
  height: 100%;
  overflow: visible;
  padding-right: 20px;
  transition: margin-top .2s, padding-left .2s, padding-right .2s; }
  @media (max-width: 768px) {
    .project-preview-image-section {
      order: 1;
      margin-bottom: 20px;
      padding-right: 0;
      height: calc(100% - 25px); } }

.project-preview-image-section.reverse {
  padding-right: 0;
  padding-left: 20px; }
  @media only screen and (max-width: 768px) {
    .project-preview-image-section.reverse {
      padding-left: 0; } }

.project-preview-image-container {
  height: 100%;
  position: relative;
  overflow: visible; }

.project-preview-color {
  position: absolute;
  z-index: -1;
  top: -20px;
  right: -20px;
  transition: top .2s, right .2s;
  overflow: visible; }
  @media (max-width: 768px) {
    .project-preview-color {
      top: 0;
      overflow: hidden;
      left: -100%;
      z-index: 0; } }
  .project-preview-color > div {
    width: 100%;
    height: 100%; }

.project-preview-color.reverse {
  right: 0;
  left: -20px;
  transition: left .2s, top .2s; }
  @media (max-width: 768px) {
    .project-preview-color.reverse {
      top: 0px;
      left: 100%;
      z-index: 0; } }

.view-more-projects {
  font-size: 20px;
  width: 100%;
  text-align: right; }

.divider {
  height: 0px;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 100%;
  border-bottom: 1.5px solid #272727; }

.about-grid-parent {
  width: 100%; }

.about-five {
  width: calc(41.66% - 70px);
  float: left; }
  @media only screen and (max-width: 768px) {
    .about-five {
      width: calc(100% - 20px); } }
  @media (max-width: 768px) {
    .about-five {
      width: 100%; } }

.about-seven {
  width: 58.33%;
  float: left;
  padding-left: 30px; }
  @media (max-width: 768px) {
    .about-seven {
      width: 100%;
      padding-left: 0; } }

@media (max-width: 768px) {
  .about-image {
    margin-bottom: 30px; } }

ul {
  padding: 0;
  margin-top: 0; }

li {
  list-style-type: none; }

.image-phone {
  width: 50%;
  display: block;
  margin: 20px auto; }
  @media only screen and (max-width: 768px) {
    .image-phone {
      width: 70%; } }

.image-web {
  margin: 20px 0; }

.image-photo {
  display: block;
  margin: 20px 0;
  border: 3px solid #ffffff;
  width: 95%; }

body {
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  font-family: 'Input';
  color: #272727; }
