@font-face {
  font-family: 'Input';
  src: url("../fonts/InputMono-Regular.ttf"); }

@font-face {
  font-family: 'Input Light';
  src: url("../fonts/InputMono-Light.ttf"); }

@font-face {
  font-family: 'Input Bold';
  src: url("../fonts/InputMono-Bold.ttf"); }

@font-face {
  font-family: 'Crimson';
  src: url("../fonts/CrimsonText-Bold.ttf"); }

h1 {
  font-family: 'Crimson';
  font-size: 60px;
  line-height: 70px; }

h2 {
  font-size: 24px;
  font-family: 'Input'; }

h3 {
  margin-top: 0;
  margin-bottom: 30px;
  font-family: 'Input Bold';
  font-size: 30px; }

h6 {
  font-size: 20px;
  font-family: 'Input Bold';
  margin-top: 0;
  margin-bottom: 2px; }

p {
  font-family: 'Input Light'; }

p.project-data-text, p.project-data-link {
  font-size: 20px;
  margin: 0;
  margin-bottom: 2px; }

p.project-preview-description {
  font-size: 20px;
  line-height: 30px;
  margin-top: 2px; }

.container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  padding-top: 60px; }

img {
  width: 100%;
  height: auto; }

.image-container {
  width: 100%;
  overflow: hidden; }

.grid-parent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px; }

.four {
  grid-column: span 4;
  grid-row: span 1; }

.five {
  grid-column: span 5;
  grid-row: span 1; }

.seven {
  grid-column: span 7;
  grid-row: span 1; }

.eight {
  grid-column: span 8;
  grid-row: span 1; }

.no-gap {
  grid-column-gap: 0; }

.background {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%; }

.address-bar-container {
  position: fixed;
  z-index: 1;
  width: 100%; }

.address-bar-subcontainer {
  display: grid;
  grid-template-columns: repeat(10, 1fr); }

.address-bar-left {
  grid-column: span 1; }

.address-bar-right {
  grid-column: span 1; }

.address-bar {
  grid-column: span 8; }

.address-bar-link {
  text-decoration: none;
  transition: color .2s;
  color: #272727; }

.address-bar-background-container {
  position: absolute;
  height: 68px;
  width: 100%;
  z-index: -1; }
  .address-bar-background-container > div {
    position: relative;
    width: 100%;
    height: 100%; }

.address-bar-background {
  position: absolute; }

.project-content {
  border-left: 1.5px solid #272727;
  padding-left: 25px; }

.project-data-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 100px; }

.project-data-section {
  margin-bottom: 20px; }

.project-data-link {
  display: block; }

.project > div {
  height: 100%; }

.project-preview {
  margin-bottom: 70px; }

.project-preview-text {
  border-bottom: 1.5px solid #272727; }
  .project-preview-text > .reverse-margin {
    margin-left: 20px; }

.project-preview-image-section {
  height: 100%;
  overflow: visible;
  padding-right: 20px; }

.project-preview-image-section.reverse {
  padding-right: 0;
  padding-left: 20px; }

.project-preview-image-container {
  height: 100%;
  position: relative;
  overflow: visible; }

.project-preview-color {
  position: absolute;
  z-index: -1;
  top: -20px;
  right: -20px; }
  .project-preview-color > div {
    width: 100%;
    height: 100%; }

.project-preview-color.reverse {
  right: 0;
  left: -20px; }

body {
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  font-family: 'Input';
  color: #272727; }
