h1 {
  font-family: 'Crimson';
  font-size: 60px;
  line-height: 70px;
  margin-bottom: 70px;

  @media only screen and (max-width: 768px) {
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 45px;
  }

  @media only screen and (max-width: 480px) {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 30px;
  }
}

h2 {
  font-size: 24px;
  font-family: 'Input';
  margin-top: 13px;
  margin-bottom: 13px;

  @media only screen and (max-width: 768px) {
    font-size: 16px;
    line-height: 16px;
    margin-top: 12px;
    margin-bottom: 10px;
  }
}

h3 {
  margin-top: 0;
  margin-bottom: 30px;
  font-family: 'Input Bold';
  font-size: 30px;
  @media only screen and (max-width: 768px) {
    font-size: 24px;
    margin-bottom: 16px;
  }
}

h4 {
  font-family: 'Input';
  text-transform: uppercase;
}

h6 {
  font-size: 20px;
  font-family: 'Input Bold';
  margin-top: 0;
  margin-bottom: 2px;
  @media only screen and (max-width: 768px) {
    font-size: 16px;

  }
}

p {
  font-family: 'Input Light';
}

p.project-data-text {
  font-size: 20px;
  margin: 0;
  margin-bottom: 2px;

  @media only screen and (max-width: 768px) {
    font-size: 16px;
  }
}

p.project-preview-description {
  font-size: 20px;
  line-height: 30px;
  margin-top: 2px;
  margin-bottom: 20px;
  @media only screen and (max-width: 768px) {
    font-size: 16px;
    line-height: 24px;
  }
}


.project-data-link {
  @extend .project-data-text;
}

a.project-preview {
  text-decoration: none;
}
