h1 {
  font-family: 'Crimson';
  font-size: 60px;
  line-height: 70px;
  margin-bottom: 70px;
}

h2 {
  font-size: 24px;
  font-family: 'Input';
  margin-top: 13px;
  margin-bottom: 13px;
}

h3 {
  margin-top: 0;
  margin-bottom: 30px;
  font-family: 'Input Bold';
  font-size: 30px;
}

h6 {
  font-size: 20px;
  font-family: 'Input Bold';
  margin-top: 0;
  margin-bottom: 2px;
}

p {
  font-family: 'Input Light';
}

p.project-data-text {
  font-size: 20px;
  margin: 0;
  margin-bottom: 2px;
}

p.project-preview-description {
  font-size: 20px;
  line-height: 30px;
  margin-top: 2px;
  margin-bottom: 20px;
}


.project-data-link {
  @extend .project-data-text;
}

a.project-preview {
  text-decoration: none;
}
