<!DOCTYPE html>
<html lang="{{ site.lang }}">
  
  {% include head.html %}

  <body>
    {% include nav.html %}

    <div class="container">

      <div class="row">
        <div class="col-xs-12">
          <h2 class="cp-project-title">
            {{ page.project_name }}
            <br>
            <small class="text-muted cp-gray">{{ page.project_categories}} / {{ page.year }}</small>
          </h2>
          <p class="cp-large-text">{{ page.blurb }}</p>
        </div>
      </div>

      <div class="row cp-project-images">
        <div class="col-xs-12">
          {% if page.images %}
          <h3>Images</h3>
          {% endif %}
        </div>
      </div>

      <div class="row cp-project-images">
        {% for image in page.images %}
        <button class="col-xs-6 col-sm-4 col-md-3" data-toggle="modal" data-target="#{{ image.id }}">
          <div class="cp-project-image {{ image.classes }}" style="
            background-image: url({{ image.url }});
            background-position: {{image.offsetx }} {{ image.offsety }};
          "></div>
        </button>
        {% endfor %}
      </div>

      {% for image in page.images %}
      <div class="modal fade" id="{{ image.id }}">
        <div class="modal-dialog {{ image.modal_classes }}" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">{{ image.title }}</h4>
            </div>
            <div class="modal-body">
              <img src="{{ image.url }}" class="img-responsive">
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

      <!-- <div class="row"> -->
        {% if page.background %}
<!--         <div class="col-lg-6"> -->

          <div class="row cp-project-background">
            <div class="col-xs-12">
              <h3>Background</h3>
              <div class="cp-color-container">
                <div class="cp-color-block">
                  <div class="cp-color" style="background-color: {{ page.color1 }};"></div>
                  <div class="cp-color" style="background-color: {{ page.color2 }};"></div>
                  <div class="cp-color" style="background-color: {{ page.color3 }};"></div>
                  <div class="cp-color" style="background-color: {{ page.color4 }};"></div>
                </div>
                {{ content }}
              </div>
            </div>
          </div>

<!--         </div> -->
        {% endif %}
<!--         <div class="col-lg-6"> -->

          <div class="row cp-project-technologies">
            <div class="col-xs-12">
              {% if page.technologies %}
              <h3>Technologies Used</h3>
              <div class="cp-color-container">
                <div class="cp-color-block">
                  <div class="cp-color" style="background-color: {{ page.technologies.color1 }};"></div>
                  <div class="cp-color" style="background-color: {{ page.technologies.color2 }};"></div>
                </div>
                <p class="cp-large-text">{{ page.technologies.list }}</a>
              </div>
              {% endif %}
            </div>
          </div>

          <div class="row cp-project-links">
            <div class="col-xs-12">
              <h3>Links</h3>

              {% for link in page.links %}
              <div class="cp-color-container">
                <div class="cp-color-block">
                  <div class="cp-color" style="background-color: {{ link.color1 }};"></div>
                  <div class="cp-color" style="background-color: {{ link.color2 }};"></div>
                </div>
                <a href="{{ link.href }}" target='_blank' class="cp-large-text cp-underline">{{ link.display }}</a>
              </div>
              {% endfor %}
            </div>
<!--           </div>

        </div>
      </div> -->

    </div>

    {% include footer.html %}
  </body>
</html>
