<!DOCTYPE html>
<html lang="{{ site.lang }}">
  
  {% include head.html %}

  <body>
    {% include nav.html %}

    <div class="container">

      <div class="row">
        <div class="col-xs-12">
          <h2 class="cp-project-title">
            {{ page.project_name }}
            <br>
            <small class="text-muted cp-gray">{{ page.project_categories}} / {{ page.year }}</small>
          </h2>
          <p class="cp-large-text">{{ page.blurb }}</p>
        </div>
      </div>

      <div class="row cp-project-technologies">
        <div class="col-xs-12">
          {% if page.technologies %}
          <h3>Technologies Used</h3>
          <div class="cp-color-container">
            <div class="cp-color-block">
              <div class="cp-color" style="background-color: {{ page.technologies.color1 }};"></div>
              <div class="cp-color" style="background-color: {{ page.technologies.color2 }};"></div>
            </div>
            <p class="cp-large-text">{{ page.technologies.list }}</a>
          </div>
          {% endif %}
        </div>
      </div>

      <div class="row cp-project-links">
        <div class="col-xs-12">
          <h3>Links</h3>

          {% for link in page.links %}
          <div class="cp-color-container">
            <div class="cp-color-block">
              <div class="cp-color" style="background-color: {{ link.color1 }};"></div>
              <div class="cp-color" style="background-color: {{ link.color2 }};"></div>
            </div>
            <a href="{{ link.href }}" target='_blank' class="cp-large-text cp-underline">{{ link.display }}</a>
          </div>
          {% endfor %}
        </div>
      </div>



    </div>

    {% include footer.html %}
  </body>
</html>
